In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data = pd.read_csv("fake_news.csv")
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [21]:
data.shape

(20800, 5)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [23]:
data.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [24]:
data=data.drop(['id'],axis=1)

In [25]:
data=data.fillna('')

In [26]:
# fill missing values with empty string

data = data.fillna('')

In [27]:
data['content'] = data['author']+' '+ data['title']+' '+data['text']

In [28]:
data = data.drop(['title','author', 'text'], axis=1)

In [29]:
data.head()

   label                                            content
0      1  Darrell Lucus House Dem Aide: We Didn’t Even S...
1      0  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      1  Consortiumnews.com Why the Truth Might Get You...
3      1  Jessica Purkiss 15 Civilians Killed In Single ...
4      1  Howard Portnoy Iranian woman jailed for fictio...

# DATA PRE-PROCESSING

In [31]:
data['content'] = data['content'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [33]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chait\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [34]:
# Do lemmatization

from nltk.stem import WordNetLemmatizer

from textblob import Word

data['content'] = data['content'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

data['content'].head()

0    darrell lucus house dem aide: we didn’t even s...
1    daniel j. flynn flynn: hillary clinton, big wo...
2    consortiumnews.com why the truth might get you...
3    jessica purkiss 15 civilian killed in single u...
4    howard portnoy iranian woman jailed for fictio...
Name: content, dtype: object

In [35]:
#separating the data and label

X = data[['content']]

y = data['label']

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
# splitting into training and testing data

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=45, stratify=y)

In [38]:
#validate the shape of train and test dataset

print (X_train.shape)

print (y_train.shape)

print (X_test.shape)

print (y_test.shape)

(14560, 1)
(14560,)
(6240, 1)
(6240,)

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer